<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="cmdPath" value="C:\Windows\System32\cmd.exe"/>
    <add key="javaPath" value="C:\Program Files\Microsoft\jdk-17.0.3.7-hotspot\bin\java.exe"/>
    <add key="headlessMcJarPath" value="%USERPROFILE%\headlessmc\headlessmc-launcher.jar"/>
    <add key="workingDirectory" value="%USERPROFILE%\headlessmc"/>
    <add key="minecraftModVersion" value="fabric-loader-0.15.3-1.20.4"/>
    <add key="minecraftVersion" value="1.20.4"/>
    <add key="serverPort" value="25565"/>
    <add key="serverAddress" value="localhost"/>
    <add key="minecraftWindowTitle" value="Minecraft* 1.20.4"/>
    <add key="minecraftWindowClass" value="GLFW30"/>
    <add key="needsResourcePack" value="true"/>
    <add key="resourcePackWaitSeconds" value="10"/>
    <add key="reconnectSeconds" value="600"/>
    <add key="retryConnectSeconds" value="10"/>
    <add key="retryConnectAttempts" value="10"/>
    <add key="inGameTimeoutSeconds" value="60"/>
  </appSettings>
</configuration>